.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  max-width: 72rem;
  width: 100%;
  margin: auto;
  padding: 0 1.6rem;
}
.greating {
  &__message {
    font-size: 2.4rem;
  }
}
.about {
  margin: 4rem 0;
  // &__content {
  //   font-size: 1.4rem;
  // }
  &__content {
    font-size: 1.4rem;
    margin-bottom: 1.5rem; // Add spacing between paragraphs
    line-height: 1.6; // Optional: Improve readability
  }
}
.projects {
  width: 100%;
}
.about,
.projects,
.greating {
  position: relative;
  align-self: flex-start;
}
.projects {
  &__list {
    -webkit-columns: 3 auto;
    -moz-columns: 3 auto;
    columns: 3 auto;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    font-size: 13px;
  }
  .project__link {
    font-size: 1.3rem;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 1rem;
    overflow: hidden;
    display: block;
    cursor: pointer;
    color: inherit;
    &:hover > .project__index::after {
      width: 0;
      left: 2.2rem;
    }
    &:hover > .project__title::after {
      width: 100%;
      opacity: 1;
    }
  }
  .project__index,
  .project__title {
    margin-right: 8px;
    opacity: 0.5;
    font-family: $font-roboto;
    display: inline-block;
    &::after {
      content: "";
      display: block;
      background-color: white;
      opacity: 0.1;
      position: relative;
      bottom: 0;
      left: 0;
      width: 2.2rem;
      height: 1px;
      transition: all 0.3s ease-in-out;
    }
  }
  .project__title {
    text-transform: capitalize;
    color: $color-white;
    opacity: .9;
    &::after {
      width: 0;
    }
  }
}
