.header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
  &__version {
    font-size: 1.2rem;
    opacity: 0.5;
  }
  &__logo {
    width: 50px;
  }
}

