// Variables
$background-color: #16191b; // background color
$text-color: #8892b0; // text color

$color-white: #ffffff;
$color-white-light: #e2e6e8;

// Fonts
$font-roboto: "Roboto Mono", monospace;
